<p id="notice"><%= notice %></p>

<p>
  <% if @post.published_at? %>
  <% else %>
    <h4><span class="label label-default">Draft</span></h4>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<% if @post.user == current_user %>
  <%= link_to edit_post_path(@post) do %>
    <i class="fa fa-pencil"></i>
      Edit
  <% end %>
<% end %>
